@import '../../config/style.scss';

.login-form {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  .fcontent__right {
    width: 300px;
    max-width: 100%;
    .fcright__title h1 {
      text-align: center;
      margin-bottom: 50px;
      color: $white;
    }
    .fcright__btn {
      width: 45%;
    }
    .fcright__register {
      margin-left: 10%;
    }
  }
}
