.layout {
  min-width: 800px;
  background: #fefefe; }
  .layout .header {
    vertical-align: middle;
    display: inline-block;
    width: 100%; }
    .layout .header .header__settings {
      float: right; }
  .layout .ant-layout-header {
    padding: 0 5%; }
  .layout .ant-layout-content {
    width: 90%;
    margin: 0 auto; }
