.workbench-layout {
  min-width: 800px;
  background: #fefefe; }
  .workbench-layout .layout__content {
    min-height: calc(100vh - 64px); }
  .workbench-layout .wlayout__menu {
    line-height: 64px; }
    .workbench-layout .wlayout__menu .wlmenu__settings {
      float: right; }
  .workbench-layout .wlayout__logo {
    cursor: pointer;
    float: left; }
    .workbench-layout .wlayout__logo .wllogo__img {
      height: 50px;
      vertical-align: middle; }
    .workbench-layout .wlayout__logo .wllogo__name {
      background-color: #46a1ed;
      padding: 10px 20px;
      border-radius: 5px;
      margin-left: 20px;
      color: #fff;
      vertical-align: middle; }
  .workbench-layout .ant-layout-header {
    padding: 0 15px; }
  .workbench-layout .lcontent__sider {
    height: 100%; }
    .workbench-layout .lcontent__sider .ant-layout-sider-trigger {
      position: static;
      background: #fff;
      color: rgba(0, 0, 0, 0.65); }
  .workbench-layout .lcontent__content {
    padding: 10px; }
  .workbench-layout .lccontent__dashboard {
    min-height: calc(100vh - 230px); }
  .workbench-layout .layout__footer {
    border-top: 1px solid #797d7f;
    padding: 15px 0; }
    .workbench-layout .layout__footer .lfooter__info ul {
      padding-left: 0; }
    .workbench-layout .layout__footer .lfooter__info ul li {
      list-style: none; }
    .workbench-layout .layout__footer .lfooter__wechat img {
      height: 80px;
      float: right; }
    .workbench-layout .layout__footer .lfooter__company {
      text-align: center; }
      .workbench-layout .layout__footer .lfooter__company p {
        margin-top: 20px;
        margin-bottom: 0; }
  .workbench-layout .ant-layout-sider-collapsed .tech-support {
    visibility: hidden;
    transition: 0.1s ease all; }
