.home-layout .home-layout-logo {
  display: inline-block;
  cursor: pointer; }

.home-layout .hlayout__img {
  height: 50px;
  vertical-align: middle; }

.home-layout .hlayout__logo {
  padding: 10px 20px;
  color: #fff;
  background-color: #46a1ed;
  border-radius: 5px;
  vertical-align: middle; }

.home-layout .hlayout__search {
  float: right; }

.home-layout .ant-layout-header {
  padding: 0 15px; }

.home-layout .home-layout-footer {
  padding: 10px; }
