@import 'src/config/style.scss';

.home-layout {
  .home-layout-logo {
    display: inline-block;
  }
  .hlayout__img {
    height: 40px;
    vertical-align: middle;
  }

  .hlayout__logo {
    padding: 10px 20px;
    color: $white;
    background-color: $theme-color;
    border-radius: 5px;
    vertical-align: middle;
  }

  .hlayout__search {
    float: right;
  }

  .ant-layout-header {
    padding: 0 15px;
  }
}
