@import 'src/config/style.scss';

.home-layout {
  .home-layout-logo {
    display: inline-block;
    cursor: pointer;
  }
  .hlayout__img {
    height: 50px;
    vertical-align: middle;
  }

  .hlayout__logo {
    padding: 10px 20px;
    color: $white;
    background-color: $theme-color;
    border-radius: 5px;
    vertical-align: middle;
  }

  .hlayout__search {
    float: right;
  }

  .ant-layout-header {
    padding: 0 15px;
  }

  .home-layout-footer {
    padding: 10px;
  }

  .tech-support {
    transition: 0.1s ease all;
    font-weight: bold;
    text-align: center;
    margin-top: 60px;
    .tech {
      color: #337ab7;
    }
  }
}
