@import 'src/config/style.scss';

.regitser-form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  .rform__content {
    width: 300px;
    max-width: 100%;
    .rfcontent__title h1 {
      text-align: center;
      margin-bottom: 50px;
      color: $white;
    }
    .rfcontent__btn {
      width: 45%;
    }
    .rfcontent__back {
      margin-left: 10%;
    }
  }
}
