.regitser-form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }
  .regitser-form .rform__content {
    width: 300px;
    max-width: 100%; }
    .regitser-form .rform__content .rfcontent__title h1 {
      text-align: center;
      margin-bottom: 50px;
      color: #fff; }
    .regitser-form .rform__content .rfcontent__btn {
      width: 45%; }
    .regitser-form .rform__content .rfcontent__back {
      margin-left: 10%; }
