@import url(./icons/iconfont.css);
html,
body {
  overflow-x: hidden; }

.head {
  position: fixed;
  width: 100vw;
  z-index: 2; }

.content {
  margin-top: 64px; }

.form-header {
  border-bottom: 1px solid #46a1ed; }

.query-form {
  border: 1px solid #797d7f;
  padding: 8px 10px; }
  .query-form .query-form-select {
    min-width: 180px; }
  .query-form .query-form-btn {
    float: right; }

.common-dl {
  display: table; }
  .common-dl > div {
    display: table-row; }
  .common-dl dt {
    display: table-cell;
    padding-top: 5px;
    padding-right: 5px; }
  .common-dl dd {
    display: table-cell; }

.block-browser-item {
  color: rgba(0, 0, 0, 0.65); }
  .block-browser-item:hover {
    color: #46a1ed; }

.ml10 {
  margin-left: 20px; }

.ml20 {
  margin-left: 20px; }

.ml30 {
  margin-left: 20px; }

.ml40 {
  margin-left: 20px; }

.mt10 {
  margin-top: 20px; }

.mt20 {
  margin-top: 20px; }

.mt30 {
  margin-top: 20px; }

.mt40 {
  margin-top: 20px; }
