@import './config/style.scss';
@import './icons/iconfont.css';

html,
body {
  overflow-x: hidden;
}

.head {
  position: fixed;
  width: 100vw;
  z-index: 2;
}
.content {
  margin-top: 64px;
}

.form-header {
  border-bottom: 1px solid $theme-color;
}

.query-form {
  border: 1px solid $gray;
  padding: 8px 10px;

  .query-form-select {
    min-width: 180px;
  }

  .query-form-btn {
    float: right;
  }
}
