@import './config/style.scss';
@import './icons/iconfont.css';
html,
body {
  overflow-x: hidden;
}

.head {
  position: fixed;
  width: 100vw;
  z-index: 2;
}

.content {
  margin-top: 64px;
}

.form-header {
  border-bottom: 1px solid $theme-color;
}

.query-form {
  border: 1px solid $gray;
  padding: 8px 10px;
  .query-form-select {
    min-width: 180px;
  }
  .query-form-btn {
    float: right;
  }
}

.common-dl {
  display: table;
  & > div {
    display: table-row;
  }
  dt {
    display: table-cell;
    padding-top: 5px;
    padding-right: 5px;
  }
  dd {
    display: table-cell;
  }
}

.block-browser-item {
  color: rgba(0, 0, 0, 0.65);
  &:hover {
    color: $theme-color;
  }
}

.ant-layout-sider {
  background-color: white;
}

.ml10 {
  margin-left: 20px;
}

.ml20 {
  margin-left: 20px;
}

.ml30 {
  margin-left: 20px;
}

.ml40 {
  margin-left: 20px;
}

.mt10 {
  margin-top: 20px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 20px;
}

.mt40 {
  margin-top: 20px;
}
