@import url(./icons/iconfont.css);
html,
body {
  overflow-x: hidden; }

.head {
  position: fixed;
  width: 100vw;
  z-index: 2; }

.content {
  margin-top: 64px; }

.form-header {
  border-bottom: 1px solid #46a1ed; }

.query-form {
  border: 1px solid #797d7f;
  padding: 8px 10px; }
  .query-form .query-form-select {
    min-width: 180px; }
  .query-form .query-form-btn {
    float: right; }
